* {
  box-sizing: border-box;
  text-align: center;
}

header {
  background-color: #e5e5e5;
  height: 425px;
  .heading-blue {
    color: #0ebbd0;
  }
}

img {
  border: 3px solid #0ebbd0;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: -50px;
}

div {
  background-color: transparent;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

figure {
  transform: translate(0, -70px);
  background-color: #ffffff;
  width: 200px;
  height: 225px;
}

section {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0ebbd0;
  height: 300px;
  p {
    margin-bottom: -150px;
  }
  a:link {
    color: white;
    text-decoration: none;
  }
}

footer {
  color: white;
  background-color: #333333;
  height: 150px;
}

main {
  display: flex;
  justify-content: center;
}
